window {
	background-image: url("file:///etc/greetd/background");
	background-size: cover;
	background-position: center;
	color: rgba(53, 185, 171, 1);
	box-shadow: inset 0 0 0 8000px rgba(1, 1, 1, 0.4);
}
entry {
	color: rgba(28, 176, 142, 1);
	background: rgba(23, 63, 79, 1);
}
combobox * {
	color: rgba(28, 176, 142, 1);
	background: rgba(23, 63, 79, 1);
}
button {
	color: rgba(28, 176, 142, 1);
	background: rgba(23, 63, 79, 1);
	border-color: rgba(33, 164, 223, 1);
}
