[Unit]
Description=Anyrun daemon
Documentation=https://github.com/anyrun-org/anyrun
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
ExecStart=/usr/bin/anyrun daemon
ExecReload=kill -SIGUSR2 $MAINPID
Restart=on-failure

[Install]
WantedBy=graphical-session.target
