:root {
  --color-dark-primary: #1c1c1c;
  --color-dark-secondary: #2d2d2d;
  --color-white: #fff;
  --color-active: #35b9ab;
  --color-urgent: #8f0a0a;

  --margin-lg: 0.8em;
  --margin-sm: 0.5em;
}

* {
  border-radius: 0;
  border: none;
  box-shadow: none;
  background-image: none;
  font-family: "Noto Sans";
}

#bar,
popover,
popover contents,
calendar {
  background-color: var(--color-dark-primary);
}

box,
button,
label {
  background-color: #0000;
  color: var(--color-white);
}

button {
  padding-left: var(--margin-sm);
  padding-right: var(--margin-sm);
}

button:hover,
button:active {
  background-color: var(--color-dark-secondary);
}

#end > * + * {
  margin-left: var(--margin-sm);
}

.sysinfo > * + * {
  margin-left: var(--margin-sm);
}

.clock {
  font-weight: bold;
}

.popup-clock .calendar-clock {
  font-size: 2em;
}

.popup-clock .calendar .today {
  background-color: var(--color-active);
}

.workspaces {
  margin-right: var(--margin-sm);
}

.workspaces .item.visible {
  box-shadow: inset 0 -1px var(--color-white);
}

.workspaces .item.focused {
  box-shadow: inset 0 -2px var(--color-active);
  background-color: var(--color-dark-secondary);
}

.workspaces .item.urgent {
  background-color: var(--color-urgent);
}

/* --- custom: power menu ---  */

.popup-power-menu #header {
  font-size: 1em;
  margin-bottom: 0.6em;
}

.popup-power-menu .power-btn {
  border: 1px solid var(--color-border-dark);
  border-radius: 10px;
  padding: 0 1.2em;
}

.popup-power-menu .power-btn label {
  font-size: 2em;
}

/* need to use funky selector
due to widgets being wrapped in GtkRevealers */
.popup-power-menu #buttons > * + * {
  margin-left: 1.3em;
}
